body{
    margin: 0;
}
*{
    margin: 0;
    padding: 0;
}
.logo img{
    width: 80px;
    height: 65px;

    margin-top: 17px;
    margin-bottom: 17px;
}
nav{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 49px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Open Sans";
}
nav ul li a:hover{
    color: #7c4e42;
}
/* main {
    text-align: center;
} */
.comment { 
    display: none;
}

/* Через main как общего родителя */
#c1:checked ~ .block_reviews .c1,
#c2:checked ~ .block_reviews .c2 {
    display: block;
}
main {
    margin-top: 80px;
    margin-bottom: 160px;
    text-align: center;
}

main input {
    /* display: inline-block; */
    margin: 0 15px;
    transform: scale(3.0);
}

.block_reviews {
    width: 922px;
    /* height: 200px; */
    padding: 35px;
    border-radius: 10px;
    border: 1px solid #4C2F27;
    background-color: #D9D9D9;
    margin: 20px auto 0; /* центрируем блок */
    text-align: left;
}
.comment h6{
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 16px;
}
.text{
    /* width: 922px; */
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    text-align: justify;
}
footer{
    width: 100%;
    background-color: #4C2F27;
    color: white;
    margin-top: 50px;
}
.img_contacts{
    display: flex;
    justify-content: center;
    gap: 42px;
    padding-top: 42px;
}
.img_contacts img{
    width: 45px;
}
.contacts{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 35px;
    font-family: "Open Sans";
    font-weight: 400;
    padding: 0 29px;
}
.name{
    font-size: 20px;
    line-height: 35px;
    font-family: "Open Sans";
    font-weight: 400;
    text-align: center;
    padding-bottom: 32px;
}
@media(max-width: 1000px){
    .block_reviews {
        width: 722px;
    }
}
@media(max-width: 804px){
    nav ul{
        gap: 30px;
    }
    .block_reviews {
        width: 522px;
    }
    .contacts{
        font-size: 18px;
    }
    .name{
        font-size: 18px;
    }
}
@media(max-width: 595px){
    nav{
        justify-content: center;
    }
    nav ul{
        gap: 20px;
    }
    nav ul li a{
        font-size: 13px;
    }
     .block_reviews {
        width: 322px;
    }
    .comment h6{
        font-size: 21px;
        /* line-height: 24px;
        margin-bottom: 16px; */
    }
    .text{
        font-size: 18px;
    }
    main input {
            transform: scale(2.6);
        }
    .img_contacts{
        padding-top: 30px;
    }
    .img_contacts img{
        width: 40px;
    }
    footer{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .contacts, .name{
        font-size: 18px;
    }
     .contacts{
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
    }
     .name{
        padding-bottom: 20px;
    }
}
@media(max-width: 477px){
       nav{
        justify-content: center;
        gap: 15px;
    }
    nav ul{
        gap: 10px;
    }
    nav ul li a{
        font-size: 10px;
    }
    .logo img{
        width: 65px;
        height: 50px;
    }
    .block_reviews {
        width: 222px;
    }
    .comment h6{
        font-size: 18px;
        /* line-height: 24px;
        margin-bottom: 16px; */
    }
    .text{
        font-size: 16px;
    }
    main input {
            transform: scale(2.2);
            margin: 0 10px;
        }
    .contacts{
        gap: 10px;
    }
    .name{
        padding-bottom: 20px;
    }
    .img_contacts img{
        width: 35px;
    }
    .contacts,.name{
        font-size: 16px;
    }
}